/**
 * teensoft_Style.css
 * since 2017.06.25
 * Author JH
 */
 
@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(//fonts.googleapis.com/earlyaccess/nanumpenscript.css);
@import url(//fonts.googleapis.com/earlyaccess/nanummyeongjo.css);

body {
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	font-family: 'Nanum Gothic',sans-serif;
}
a {
	color: #2196f3;
}
h1 {
	padding: 0;
	margin: 0;
}
.teensoft-brush_title {
	font-family: 'Nanum Pen Script', cursive;
}
.teensoft-myeongjo_title {
	font-family: 'Nanum Myengjo' , serif;
}
.teensoft-header {
	position: fixed;
	padding: 10px;
	margin: 0;
	background: rgba(0 , 0 , 0 , 0.5);
	width: 100%;
	height: auto;
}
.teenaoft-header_down {
	position: fixed;
	padding: 10px;
	margin: 0;
	background: white;
	width: 100%;
	height: auto;
	box-shadow: 1px 1px 3px 3px #cccccc;
}
.teensoft-header_element {
	color: white;
}
.teensoft-header_element_down {
	color: black;
}
.teensoft-flat_header {
	padding: 10px;
	margin: 0;
	background: #03a9f4;
}
.teensoft-flat_article {
	background: #bdbdbd;
	padding: 5px 5px 5px 5px;
	margin: 0 0 0 0;
}
.teensoft-article {
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	box-shadow: 1px 1px 3px 3px #cccccc;
	padding : 5px 5px 5px 5px;
	margin: 7px 7px 7px 7px;
	height: auto;
}
.teensoft-footer {
	background: #424242;
	padding: 10px 10px 10px 10px;
}
.teensoft-img {
	width: 100%;
}